# Lyra Starter Game project directories
/Binaries/
/Build/
/Config/
/Content/
/DerivedDataCache/
/Intermediate/
/Platforms/

/Plugins/AsyncMixin/
/Plugins/CommonGame/
/Plugins/CommonLoadingScreen/
/Plugins/CommonUser/
/Plugins/GameFeatures/ShooterCore/
/Plugins/GameFeatures/ShooterExplorer/
/Plugins/GameFeatures/ShooterMaps/
/Plugins/GameFeatures/ShooterTests/
/Plugins/GameFeatures/TopDownArena/
/Plugins/GameplayMessageRouter/
/Plugins/GameSettings/
/Plugins/GameSubtitles/
/Plugins/LyraExampleContent/
/Plugins/LyraExtTool/
/Plugins/ModularGameplayActors/
/Plugins/PocketWorlds/
/Plugins/UIExtension/

/Saved/
/Source/

# Perforce ignore file
.p4ignore

# Debugging symbols
*.pdb

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.ipa

# Images
*.png
*.tga

# Unreal Engine binary formats
*.uasset
*.umap
*.upk
*.udk
*.ubulk

# Directories always ignored anywhere
**/ArtSource/
**/Binaries/
**/Intermediate/


# Rider
.idea/
.idea_modules/
out/

com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

# Visual Studio
/.vs/
*.sln
.vsconfig
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb
*.vsix

# VSCode
.vscode/
.history/

# Xcode
*.xcodeproj
*.xcworkspace
